.logo {
  display: grid;
  grid-template-areas: "logo";

  &__image {
    grid-area: logo;

    @media only screen and (max-width: 768px) {
      transform: scale(0.8);
      margin-left: -16px;
    }
  }

  &--visible {
    opacity: 1;
    filter: blur(0);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out,
      filter 0.3s ease-out;
  }

  &--hidden {
    opacity: 0;
    filter: blur(4px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out,
      filter 0.3s ease-out;
    pointer-events: none;
  }

  &__default {
  }

  &__light {
    filter: brightness(0) !important;
    -webkit-filter: brightness(0);
  }

  &__light--mobile {
    display: none;
  }
}
