@import "/styles/variables.scss";

.layout {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
  background-color: $primary-color;

  @media only screen and (max-width: 836px) {
    flex-direction: column;
  }

  &__left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 90px;
    width: 40%;
    padding: 90px 95px;

    @media only screen and (max-width: 1140px) {
      padding: 90px 60px;
    }

    @media only screen and (max-width: 836px) {
      align-items: center;
      padding: 24px 30px;
      width: 100%;
      gap: 24px;
    }
  }

  &__right-column {
    display: flex;
    color: $white-color;
    background-color: $white-color;
    width: 60%;
    padding: 100px 78px;
    overflow-x: scroll;

    > form {
      width: 456px;
    }

    @media only screen and (max-width: 1140px) {
      padding: 78px 60px;
    }

    @media only screen and (max-width: 900px) {
      padding: 78px 36px;
      border-radius: 8px;

      > form {
        margin-top: unset;
        max-width: unset;
        width: 100%;
      }
    }

    @media only screen and (max-width: 836px) {
      flex-grow: 1;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 0;
      border-radius: 20px 20px 0 0;
      width: 100%;
    }
  }
}
