.travel-guide-images {
  margin-top: 100px;
  padding: 88px 48px 64px;

  @media only screen and (max-width: 768px) {
    padding: 64px 24px 32px;
  }

  &__header {
    margin-bottom: 48px;

    @media only screen and (max-width: 768px) {
      margin-bottom: 20px;
    }

    @media only screen and (max-width: 480px) {
      margin-bottom: 16px;
    }
  }

  &__grid {
    max-width: 1200px;
    margin-inline: auto;
  }
}
