@import "/styles/variables.scss";

.layout {
  display: flex;
  height: 400px;
  justify-content: center;
  width: 650px;
  border-radius: 8px;

  @media only screen and (max-width: 780px) {
    width: 316px;
    height: 430px;
    justify-content: flex-end;
    flex-direction: column;
  }

  &__image-container {
    position: relative;
    height: 170px;
    width: 190px;

    @media only screen and (max-width: 780px) {
      transform: translateY(32px);
    }
  }

  &__left-column {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    width: 250px;
    border-radius: 8px 0 0 8px;

    @media only screen and (max-width: 780px) {
      width: 100%;
    }
  }

  &__right-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: $white-color;
    color: $white-color;
    width: 400px;
    padding-inline: 14px;
    padding-block: 40px;
    border-radius: 0 8px 8px 0;

    @media only screen and (max-width: 780px) {
      height: 225px;
      padding-block: 30px;
      padding-inline: 16px;
      border-radius: 10px 10px 8px 8px;
      width: 100%;
    }
    // > div {
    //   width: 456px;
    // }

    //   @media only screen and (max-width: 1140px) {
    //     // align-items: center;
    //     padding: 90px 60px;
    //   }

    //   @media only screen and (max-width: 900px) {
    //     padding: 90px 36px;

    //     > div {
    //       width: 100%;
    //     }
    //   }

    //   @media only screen and (max-width: 600px) {
    //     flex-grow: 1;
    //     align-items: center;
    //     justify-content: flex-start;
    //     padding: 30px 20px;
    //     border-radius: 20px 20px 0 0;
    //     width: 100%;
    //   }
  }
}
