@import "../../_styles/variables";

.blog-card {
  &__link {
    text-decoration: none;
    color: inherit;

    &:hover {
      .blog-card__image {
        transform: scale(1.05);
      }

      .blog-card__title {
        color: $primary-color;
      }
    }
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 976px) {
      flex-direction: row;
      gap: 16px;
    }
  }

  &__image-wrapper {
    margin-bottom: 40px;
    border-radius: $card-radius;
    overflow: hidden;
    width: 100%;

    @media only screen and (max-width: 976px) {
      width: 30%;
      margin-bottom: 0;
    }
  }

  &__image-container {
    position: relative;
    width: 100%;
    padding-bottom: 66.67%; // This creates a 3:2 aspect ratio
    overflow: hidden;

    @media only screen and (max-width: 976px) {
      height: 100%;
    }
  }

  &__image {
    transition: transform 0.7s cubic-bezier(0.16, 1, 0.3, 1);
  }

  &__content {
    @media only screen and (max-width: 976px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 70%;
    }
  }

  // Rest of the styles remain the same...
  &__body {
    margin-bottom: 66px;

    @media only screen and (max-width: 976px) {
      margin-bottom: 16px;
    }
  }

  &__title {
    margin: 0 0 16px;
    min-height: 64px;
    transition: transform 0.7s cubic-bezier(0.16, 1, 0.3, 1);

    @media only screen and (max-width: 976px) {
      min-height: initial;
    }
  }

  &__excerpt {
    margin: 0;

    @media only screen and (max-width: 976px) {
      display: none;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    margin-top: auto;
  }

  &__location {
    &::after {
      content: "";
      margin: 0 24px;
      border-right: 1px solid #b7cac6;

      @media only screen and (max-width: 768px) {
        margin: 0 8px;
      }
    }
  }

  &__date {
    margin: 0;
  }
}
