@import "../../_styles/variables.scss";
@import "../../_styles/mixins.scss";

.typography {
  margin: 0;

  &--h1 {
    color: $black-color;
    font-size: rem(72);
    font-style: normal;
    font-weight: 900;
    line-height: 106%;

    @media only screen and (max-width: 600px) {
      font-size: rem(48);
    }
  }

  &--h2 {
    color: $black-color;
    font-size: rem(56);
    font-style: normal;
    font-weight: 900;
    line-height: 106%;

    @media only screen and (max-width: 600px) {
      font-size: rem(40);
    }
  }

  &--h3 {
    color: rgba(#2c3e50, 0.9);
    font-size: rem(32);
    font-style: normal;
    font-weight: 700;
    letter-spacing: rem(0.096);
    line-height: 1.25;

    @media only screen and (max-width: 600px) {
      font-size: rem(24);
      letter-spacing: rem(0.072);
    }
  }

  &--h4 {
    color: $black-color;
    font-size: rem(24);
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: rem(0.072);

    @media only screen and (max-width: 600px) {
      font-size: rem(20);
      letter-spacing: rem(0.06);
    }
  }

  &--h5 {
    font-size: rem(14);
    color: $black-color;
    font-style: normal;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: rem(0.06);

    @media only screen and (max-width: 600px) {
      font-size: rem(13);
      letter-spacing: rem(0.048);
    }
  }

  &--p1 {
    color: $black-color;
    font-size: rem(16);
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: rem(0.048);

    @media only screen and (max-width: 600px) {
      font-size: rem(14);
      font-weight: 500;
      letter-spacing: rem(0.042);
    }
  }

  &--p2 {
    color: $black-color;
    font-size: rem(14);
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: rem(0.042);

    @media only screen and (max-width: 600px) {
      font-size: rem(12);
      letter-spacing: rem(0.036);
    }
  }

  &--p3 {
    color: $white-color;
    font-size: rem(12);
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: rem(0.036);
  }

  &--button {
    font-size: rem(16);
    font-weight: bold;
    text-transform: uppercase;
    color: $black-color;
  }

  &--overline {
    font-size: rem(14);
    text-transform: uppercase;
    color: $black-color;
  }
}
