@import "../../_styles/variables.scss";

.search-card {
  align-items: center;
  cursor: auto;
  display: flex;
  flex-direction: column;
  max-width: 1068px;
  width: 100%;
  padding: 32px 40px;
  transition: all 0.3s ease;

  @media only screen and (max-width: 1200px) {
    width: 90%;
  }

  @media only screen and (max-width: 900px) {
    padding: 32px 0;
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
    max-width: 700px;
  }

  &__title {
    width: 100%;
    text-align: center;
    white-space: nowrap;
  }

  &__subtitle {
    margin-bottom: 136px;
    font-size: 18px;

    @media only screen and (max-width: 768px) {
      margin-bottom: 108px;
    }
  }

  &__description {
    margin-bottom: 24px;
    max-width: 600px;
    // font-size: 18px;
  }

  &__form {
    width: 100%;
    max-width: 600px;

    @media only screen and (max-width: 900px) {
      margin-bottom: 24px;
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 28px;
    color: $white-color;

    @media only screen and (max-width: 900px) {
      > p {
        display: none;
      }
    }
  }
}
