@import "../../_styles/variables.scss";
@import "../../_styles/mixins.scss";

.card {
  border-radius: $card-radius;
  position: relative;
  // width: ;
  aspect-ratio: 16 / 9;
  // height: 390px;
  overflow: hidden;
  transition: transform 0.3s ease;

  @media only screen and (max-width: $xlarge) {
    aspect-ratio: 2 / 1;
  }

  &:hover .card__image {
    transform: scale(1.1);
  }

  &__image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__image {
    z-index: 1;
    transition: transform 0.3s ease;
  }

  &__overlay {
    align-items: flex-end;
    bottom: 0;
    display: flex;
    height: 50%;
    left: 0;
    padding: 32px 28px;
    position: absolute;
    right: 0;
    z-index: 2;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  }

  &__text {
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
