@import "../../_styles/variables.scss";
@import "../../_styles/mixins.scss";

.blog-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
  padding: 90px 36px;

  //   @media only screen and (max-width: $xlarge) {
  //     padding: 100px 24px 80px;
  //   }

  @media only screen and (max-width: $medium) {
    padding: 48px 24px;
    gap: 40px;
  }

  &__heading,
  &__content {
    max-width: 1200px;
    width: 100%;
  }

  &__content {
    display: flex;
    gap: $main-gap;

    @media only screen and (max-width: $xlarge) {
      flex-direction: column;
      gap: 48px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;

    &--left {
      gap: 24px;
      width: 60%;

      @media only screen and (max-width: $xlarge) {
        width: 100%;
      }
    }

    &--right {
      gap: $main-gap;

      @media only screen and (max-width: $xlarge) {
        width: 100%;
        padding-left: 0;
        align-items: center;
        gap: 36px;
      }
    }
  }

  &__image-wrapper {
    width: 100%;
  }

  &__subheading {
    align-self: flex-start;
  }

  &__list {
    align-self: flex-start;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: $main-gap;

    @media only screen and (max-width: $xlarge) {
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
    }

    @media only screen and (max-width: $medium) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
