@import "../../_styles/variables.scss";

.blog-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
  padding: 100px 36px;
  position: relative;
  isolation: isolate;

  // Contenedor del background con efectos

  &__background {
    background: linear-gradient(180deg, #ffffff, #fafafa);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 1px,
        rgba($primary-color-dark, 0.1) 1px,
        rgba($primary-color-dark, 0.1) 2px
      );
    }
  }

  // &__background {
  //   background: linear-gradient(180deg, #ffffff, #fafafa);
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   overflow: hidden;

  //   &::before {
  //     content: "";
  //     position: absolute;
  //     top: -50%;
  //     right: -50%;
  //     bottom: -50%;
  //     left: -50%;
  //     background: repeating-linear-gradient(
  //         0deg,
  //         transparent,
  //         transparent 50px,
  //         rgba(0, 0, 0, 0.2) 50px,
  //         rgba(0, 0, 0, 0.2) 51px
  //       ),
  //       repeating-linear-gradient(
  //         90deg,
  //         transparent,
  //         transparent 50px,
  //         rgba(0, 0, 0, 0.2) 50px,
  //         rgba(0, 0, 0, 0.2) 51px
  //       ),
  //       repeating-linear-gradient(
  //         45deg,
  //         transparent,
  //         transparent 70px,
  //         rgba(0, 0, 0, 0.1) 70px,
  //         rgba(0, 0, 0, 0.1) 71px
  //       );
  //     transform: perspective(1000px) rotateX(60deg) scale(2);
  //   }
  // }

  @media only screen and (max-width: $medium) {
    padding: 48px 24px;
    gap: 40px;
  }

  &__heading,
  &__content {
    max-width: 1200px;
    width: 100%;
    position: relative;
    z-index: 1;
  }

  &__content {
    display: flex;
    gap: $main-gap;

    @media only screen and (max-width: $xlarge) {
      flex-direction: column;
      gap: 48px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;

    &--left {
      gap: 24px;
      width: 60%;

      @media only screen and (max-width: $xlarge) {
        width: 100%;
      }
    }

    &--right {
      gap: $main-gap;

      @media only screen and (max-width: $xlarge) {
        width: 100%;
        padding-left: 0;
        align-items: center;
        gap: 36px;
      }
    }
  }

  &__image-wrapper {
    width: 100%;
  }

  &__subheading {
    align-self: flex-start;
  }

  &__list {
    align-self: flex-start;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: $main-gap;

    @media only screen and (max-width: $xlarge) {
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
    }

    @media only screen and (max-width: $medium) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@keyframes sphereFloat {
  0% {
    transform: translateZ(0) scale(1);
  }
  100% {
    transform: translateZ(0) scale(1.1);
  }
}
