.travel-guide {
  padding: 64px 48px;
  overflow: hidden;

  @media only screen and (max-width: 1024px) {
    padding: 48px 24px;
  }

  &__content {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    display: flex;
    justify-content: space-between;
    gap: 48px;
    position: relative;

    @media only screen and (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
      padding-inline: 0;
    }
  }

  &__image {
    width: 100%; // Ensure the image takes the full width
    height: auto; // Maintain aspect ratio
    display: flex;
    justify-content: flex-end;

    @media only screen and (max-width: 1024px) {
      display: none;
    }
  }
  &__text-content {
    text-align: left;
    max-width: 600px;
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    margin-bottom: 1rem;
    color: #666;
  }

  &__description {
    margin-bottom: 2rem;
    line-height: 1.6;
  }

  &__inspirational-text-heading {
    margin-bottom: 1rem;
  }

  &__inspirational-text {
    margin-bottom: 2rem;
    // color: #34495e;
  }

  &__details {
    margin-bottom: 2rem;
  }

  &__section-heading {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &__info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  &__info-label {
    // font-weight: 600;
  }

  &__info-value {
    // color: #333;
  }

  &__culture,
  &__transportation,
  &__visa-info,
  &__safety-tips {
    margin-bottom: 1rem;
    // line-height: 1.6;
  }

  &__food-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__food-item {
    margin-bottom: 0.5rem;
  }

  &__author {
    margin-top: 2rem;
  }

  &__author-link {
    color: #0070f3;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
