@import "../../_styles/variables.scss";

.leaflet-map {
  &__container {
    height: 640px;
    width: 100%;
    overflow: hidden;

    @media only screen and (max-width: 768px) {
      height: 480px;
    }
  }

  .popup-content {
    padding: 16px 0;

    &__title {
      margin-bottom: 10px;
      word-wrap: break-word;
    }

    &__image-container {
      background-color: rgba($black-color, 0.3);
      aspect-ratio: 16 / 9;
      // border-radius: 4px;
      position: relative;
      margin-bottom: 16px;
      overflow: hidden;
      width: 100%;
    }

    &__image {
      object-fit: cover;
    }

    &__excerpt {
      margin-bottom: 20px;
      padding-inline: 16px;
    }

    &__button {
      display: flex;
      padding: 14px;
      margin: 0 auto;
      background-color: $primary-color;
      color: #fff;
      text-decoration: none;
      border-radius: 4px;
      border: unset;
      transition: background-color 0.3s ease;

      p {
        margin: 0;
      }
    }
  }
}
