@import "../../_styles/variables.scss";

.leaflet-popup-content-wrapper {
  box-shadow: none !important;
  background: unset !important;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.85) 50%,
    rgba(255, 255, 255, 1) 100%
  ) !important;
  border-radius: $card-radius !important;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding-inline: 0 !important;
}

.leaflet-popup-content {
  margin-inline: 0 !important;
  width: 324px !important;
  // margin-top: 0 !important;
}

.leaflet-popup-close-button {
  font-size: 28px !important;
  top: 10px !important;
  right: 14px !important;
  opacity: 0.6;
}
