@import "../../_styles/variables.scss";

.react-datepicker {
  border: none;
  border-radius: 14px;
  box-shadow: $shadow-blue;
  padding: 24px 42px 28px;
  display: flex;
  gap: 24px;

  @media only screen and (max-width: 1032px) {
    flex-direction: column;
    width: 100%;
  }
}

.react-datepicker__triangle {
  visibility: hidden;
}
.react-datepicker__navigation {
  top: 31px;
}

.react-datepicker__navigation--previous {
  left: 46px;
}

.react-datepicker__navigation-icon::before {
  border-width: 2px 2px 0 0;
  border-color: rgba($black-color, 0.5);
  height: 8px;
  width: 8px;
}

.react-datepicker__navigation--next {
  right: 46px;
}

.react-datepicker__header {
  background-color: $white-color;
  border-bottom: none;
}

.react-datepicker__day,
.react-datepicker__day-name {
  font-size: 14px;
  width: 46px;
}

.react-datepicker__day {
  line-height: 3.6;
}

.react-datepicker__day-name {
  color: rgba($black-color, 0.7);
  font-size: 12px;
  // line-height: 3.6;
}

.react-datepicker__day--keyboard-selected {
  color: $white-color;
}

.react-datepicker__current-month {
  color: $black-color;

  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 16px !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  border-radius: 0.3rem;
  background-color: $primary-color;
  color: #fff;
}
