.travel-guide-map {
  padding: 88px 0 64px;

  &__header {
    margin-bottom: 48px;

    @media only screen and (max-width: 768px) {
      margin-bottom: 20px;
    }

    @media only screen and (max-width: 480px) {
      margin-bottom: 16px;
    }
  }

  &__map {
    width: 100%;
    overflow: hidden;
  }
}
